// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Montserrat:300,400,700&display=swap')




// MIXINS
@mixin transition
  transition: all .4s ease-in-out
@mixin text-shadow-DK
  text-shadow: 5px 5px 7px #333

@mixin xsm
	@media screen and (max-width : 320px)
		@content

@mixin sm
	@media screen and (max-width: 480px)
		@content

@mixin md
	@media screen and (max-width : 768px)
		@content

@mixin lg
	@media screen and (max-width : 992px)
		@content


@mixin xlg
	@media screen and (max-width : 1200px)
		@content


$navHeight: 55px


h1,h2,h3,h4,h5,h6
  font-family: 'DM Serif Text', serif


a,a:visited,a:active,a:hover
  color: inherit
  text-decoration: none
  @include transition

hr
  width: 300px
  margin: 40px auto

.bg-black
  background: #181818

.arrow-down
  position: absolute
  bottom: 10px
  left: 50%
  transform: translateY(-50%)
  outline: none
  border-top: 28px solid white
  border-left: 32px solid transparent
  border-right: 32px solid transparent

.btn
  // text-transform: uppercase
  // font-weight: 700
  padding: 15px 25px
  border-radius: 4px

.w50
  width: 50%
  margin: auto

.weight-light
  font-weight: 300
  color: #666

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background: black
  font-family: 'Montserrat', sans-serif
  line-height: 1.5
  .wrapper
    background: white
    max-width: 1900px
    min-height: 100vh
    margin: auto
    overflow-x: hidden
    .landing
      nav
        position: relative
        z-index: 999
        a:focus
          outline: 1px solid #eee
      .landing-banner
        margin-top: -$navHeight
        background: grey
        min-height: 100vh
        position: relative
        .landing-slider
          position: absolute
          top: 0
          left: 0
          .landing-slide
            width: 100vw
            height: 100vh
            background-size: cover
            background-position: center
        .landing-title
          position: absolute
          top: 50%
          left: 15%
          width: 350px
          transform: translateY(-50%)
          @include text-shadow-DK

// SECTION ABOUT
#about
  .about-images
    position: relative
    $top: 80px
    $left: 30px
    .about-image
      width: 220px
      height: 220px
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      border: 10px solid white
      position: absolute
      @include lg
        position: static
        width: 160px
        height: 160px
      @include sm
        width: 30vw
        height: 30vw
    .about-image:nth-child(1)
      top: $top
      left: $left
      background-image: url('../img/about2.jpg')
    .about-image:nth-child(2)
      top: $top + 80
      left: $left + 80
      background-image: url('../img/about1.jpg')
    .about-image:nth-child(3)
      top: $top + 2 * 80
      left: $left + 2 * 80
      background-image: url('../img/about3.jpg')

// SECTION ROOMS
#rooms
  background: #f8f9fa
  .cells
    .cell
      width: 100%
      align-self: stretch
      position: relative
      margin-bottom: 60px
      .cell-top
        width: 100%
        height: 20vw
        padding: 10px
        background: rgba(240, 84, 106, 0.28)
        position: relative
        overflow: hidden
        @include transition
        .image
          width: 100%
          height: 100%
          background-size: cover
          background-position: center
          background-repeat: no-repeat
        i
          position: absolute
          top: 150%
          left: 50%
          transform: translate(-50%,-50%)
          font-size: 50px
          color: #68d5fe
          @include transition
        &:hover
          background: transparent
          i
            top: 50%
            left: 50%
      .cell-content
        padding: 15px
        margin-top: 20px
        .room-name
          font-size: 36px
        .room-price
          font-size: 22px
          font-weight: 700
        .room-info
          li
            list-style: none
            position: relative
            margin-bottom: 15px
            &::before
              position: absolute
              top: 50%
              transform: translateY(-50%)
              left: -15px
              width: 8px
              height: 8px
              border-radius: 50%
              background: red
              content: ''
      .btn
        position: absolute
        top: 100%
        left: 0
    .cell:nth-child(1)
      .cell-top
        .image
          background-image: url('../img/room1.jpg')
    .cell:nth-child(2)
      .cell-top
        .image
          background-image: url('../img/room2.jpg')
    .cell:nth-child(3)
      .cell-top
        .image
          background-image: url('../img/room3.jpg')

// SECTION WHYUS
#whyus
  background: #faf1e0
  .whyus-icon
    i
      margin: 40px
      font-size: 40px
      color: #f93030
  .whyus-title
  .whyus-content
